/* perus */
body {
    font-family: Arial, sans-serif;
    max-width: 1000px;
    margin: 20px auto;
    padding: 0 64px;
    background-color: #f0fcff;
    color: #3b386d;
}

@font-face {
    font-family: "My Special Font";
    src: url("./fontit/Edu_QLD_Beginner/EduQLDBeginner-VariableFont_wght.ttf");
    font-weight: normal;
  }
  @font-face {
    font-family: "My Special Font";
    src: url("./fontit/Edu_QLD_Beginner/EduQLDBeginner-VariableFont_wght.ttf");
    font-weight: bold;
  }
  @font-face {
    font-family: "Leipateksti";
    src: url("./fontit/Montserrat/Montserrat-Italic-VariableFont_wght.ttf");
    font-weight: normal;
  }
  @font-face {
    font-family: "Leipateksti";
    src: url("./fontit/Montserrat/Montserrat-Italic-VariableFont_wght.ttf");
    font-weight: bold;
  }


header {
    color: #8c8f96;
    text-align: center;
  }  

  
/* navigaatio */
nav {
    margin-bottom: 20px;
}
a {
    margin-right: 15px;
    text-decoration: none;
    color: #e0dc76;
}
a:hover {
    color: #dbbd29;
    text-decoration: underline;
}
a:visited {
    color: #6b7280;
}
/*section*/
section {
    border: 1px solid #d6e6f0;
    background-color: #f7fcff; 
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

p {
    font-family: "leipateksti";
}
/* heading */

h1, h2 {
    margin-top: 20px;
    color: #4f75cc;
    font-family: "My Special Font";
}
h3, h4 {
    margin-top: 20px;
    color:#87a0da
    font-family: "My Special Font";
}

h1 {
    font-size: 60px;
    font-family: "My Special Font";
}

h2 {
    font-size: 48px;
    font-family: "My Special Font";
}

h3 {
    font-size: 32px;
    font-family: "My Special Font";
}

h4 {
    font-size: 18px;
    font-family: "My Special Font";
}


/* työkokemus toggle */
.tyopaikka {
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #ffffff;
    transition: 0.2s;
}
.tyopaikka:hover {
    background-color: #f0f0f0;
}
.kuvaus {
    display: none;
    margin-top: 10px;
}

/* kommentti */
.comment {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

/* kommentti dialogi */
#comment-dialog {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    border-radius: 5px;
    z-index: 1001;
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

/* formit */
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
textarea,
input,
select {
    width: 100%;
    padding: 5px;
    font-size: 1em;
}
button {
    padding: 8px 12px;
    background-color:#f1ed7c;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
}
button:hover {
    background-color:#dbbd29
}


/* footter */
footer {
    margin-top: 40px;
    text-align: center;
}
.profiili-alku {
    display: flex;
    align-items: center;
    gap: 20px; 
    margin-top: 20px;
}

.profiili-alku img {
    width: 120px;
    height: auto;
    border-radius: 10px;
}

.profiili-alku h1 {
    margin: 0;
    font-size: 2em;
}

.profiili-text h4 {
    margin: 5px 0 0;
    font-weight: normal;
}
/* Alle 640px leveille näytöille */
@media (max-width: 640px) {
    body {
      padding-left: 16px;
      padding-right: 16px;
    }
  
    nav {
      display: block;
    }
  
    nav a {
      display: block;
      margin-bottom: 10px;
    }
  
    h1 {
      font-size: 32px;
    }
  
    h2 {
      font-size: 26px;
    }
  
    h3 {
      font-size: 22px;
    }
  
    h4 {
      font-size: 18px;
    }
  }
  
  /* Yli 640px leveille näytöille */
  @media (min-width: 641px) {
    body {
      padding-left: 64px;
      padding-right: 64px;
    }
  
    nav {
      display: flex;
      gap: 2em;
    }
  
    nav a {
      display: inline-block;
      margin-bottom: 0;
    }
  
    h1 {
      font-size: 60px;
    }
  
    h2 {
      font-size: 48px;
    }
  
    h3 {
      font-size: 32px;
    }
  
    h4 {
      font-size: 18px;
    }
  }
  