.flex-horizontal {
    display: flex;
    gap: 30px;
    padding: 0;
    justify-content: center;
    max-width: 1000px; 
    margin: 20px auto;
  }
  
  .flex-vertical {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    background-color: #f8f8f8;
    padding: 40px;
    border-radius: 10px;
    width: 300px;
  }

  .item {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    width: 100%;
  }
  
  .item img {
    width: 70px;
    height: 70px;
    margin-right: 15px;
    object-fit: contain;
  }
  
  .item span {
    font-size: 16px;
    font-weight: bold;
    color: #333;
  }
  