body {
    display: grid;
    grid-template-rows: auto auto auto 1fr auto;
    grid-template-areas:
        "header"
        "title"
        "nav"
        "content"
        "footer";
    min-height: 100vh;
    padding: 0;
    max-width: 800px;
    margin: 20px auto;
}

header {
    grid-area: header;
}

h1 {
    grid-area: title;
}

nav {
    grid-area: nav;
    background-color: white;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

main {
    grid-area: content;
}

footer {
    grid-area: footer;
}


.portfolio-layout {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
    margin-top: 20px;
}

aside {
    background-color: #e8e8e8;
    padding: 1rem;
    border-radius: 20px;
}

section {
    background-color: #ffffff;
    padding: 1rem;
}
